<div>
<!--  <button (click)="grabFrame()">Grab frame</button>-->
  <div class="select">
    <label for="videoSource">Camera: </label>
    <select id="videoSource" #cameras *ngIf="availableCameras" (change)="setCamera(cameras.value)">
      <option [value]="">No camera selected</option>
      <option [value]="camera.deviceId" *ngFor="let camera of availableCameras" >{{ camera.label }}</option>
    </select>
  </div>
<!--  <input #scannerZoomInput class="hidden" id="zoom" type="range" step="20">-->
</div>

<div class="container">
  <video height="500" width="500" id="scanner-video" autoplay playsinline></video>
  <canvas height="500" width="500" id="scanner-canvas" class="hidden"></canvas>
</div>

<footer></footer>

<p *ngFor="let scannedBarcode of scannedBarcodes | keyvalue">
  {{ scannedBarcode.key }}: {{ scannedBarcode.value }}
</p>
