<div>
  <button (click)="grabFrame()">Grab Frame</button>
  <button (click)="takePhoto()">Take photo</button>
  <div class="select">
    <label for="videoSource">Video source: </label>
    <select id="videoSource" #cameras *ngIf="availableCameras" (change)="setCamera(cameras.value)">
      <option [value]="">No camera selected</option>
      <option [value]="camera.deviceId" *ngFor="let camera of availableCameras" >{{ camera.label }}</option>
    </select>
  </div>
<!--  <input #scannerZoomInput class="hidden" id="zoom" type="range" step="20">-->
</div>

<video id="scanner-video" autoplay playsinline></video>
<img id="scanner-image">
<canvas id="scanner-canvas" class="hidden"></canvas>
<footer></footer>
